<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#each festivals}}
<a href="/{{this._id}}">{{this.name}}</a>


<button type="button" ><a href="/{{this._id}}/delete">Delete</a></button>
<br>
{{/each}}
